<!-- table avec la liste temperature -->
<mat-table [dataSource]="personas" #tableTemperatures="matTable">
    <!-- id -->
    <ng-container matColumnDef="_id">
      <mat-header-cell *matHeaderCellDef> id </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.id}} </mat-cell>
    </ng-container>
  
    <!-- lv -->
    <ng-container matColumnDef="lv">
      <mat-header-cell *matHeaderCellDef> lv </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.lv}} </mat-cell>
    </ng-container>
  
    <!-- nom -->
    <ng-container matColumnDef="nom">
      <mat-header-cell *matHeaderCellDef> nom </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.nom}} </mat-cell>
    </ng-container>

    <!-- arcane -->
    <ng-container matColumnDef="arcane">
        <mat-header-cell *matHeaderCellDef> arcane </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.arcane}} </mat-cell>
      </ng-container>

    <!-- force -->
    <ng-container matColumnDef="force">
        <mat-header-cell *matHeaderCellDef> force </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.force}} </mat-cell>
      </ng-container>

    <!-- magie -->
    <ng-container matColumnDef="magie">
        <mat-header-cell *matHeaderCellDef> magie </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.magie}} </mat-cell>
      </ng-container>

    <!-- agilité -->
    <ng-container matColumnDef="agilite">
        <mat-header-cell *matHeaderCellDef> agilité </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.agilite}} </mat-cell>
      </ng-container>

    <!-- chance -->
    <ng-container matColumnDef="chance">
        <mat-header-cell *matHeaderCellDef> agilité </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.chance}} </mat-cell>
      </ng-container>

    <!-- physique -->
    <ng-container matColumnDef="physique">
        <mat-header-cell *matHeaderCellDef> agilité </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.physique}} </mat-cell>
      </ng-container>

    <!-- fusil -->
    <ng-container matColumnDef="fusil">
        <mat-header-cell *matHeaderCellDef> agilité </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.fusil}} </mat-cell>
      </ng-container>

    <!-- feu -->
    <ng-container matColumnDef="feu">
        <mat-header-cell *matHeaderCellDef> agilité </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.feu}} </mat-cell>
      </ng-container>

    <!-- glace -->
    <ng-container matColumnDef="glace">
        <mat-header-cell *matHeaderCellDef> agilité </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.glace}} </mat-cell>
      </ng-container>

    <!-- electrique -->
    <ng-container matColumnDef="electrique">
        <mat-header-cell *matHeaderCellDef> agilité </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.electrique}} </mat-cell>
      </ng-container>

    <!-- vent -->
    <ng-container matColumnDef="vent">
        <mat-header-cell *matHeaderCellDef> agilité </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.vent}} </mat-cell>
      </ng-container>

    <!-- psychique -->
    <ng-container matColumnDef="psychique">
        <mat-header-cell *matHeaderCellDef> agilité </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.psychique}} </mat-cell>
      </ng-container>

    <!-- nucleaire -->
    <ng-container matColumnDef="nucleaire">
        <mat-header-cell *matHeaderCellDef> agilité </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.nucleaire}} </mat-cell>
      </ng-container>

    <!-- divin -->
    <ng-container matColumnDef="divin">
        <mat-header-cell *matHeaderCellDef> agilité </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.divin}} </mat-cell>
      </ng-container>

    <!-- malediction -->
    <ng-container matColumnDef="malediction">
        <mat-header-cell *matHeaderCellDef> agilité </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.malediction}} </mat-cell>
      </ng-container>

    <!-- obtenue -->
    <ng-container matColumnDef="obtenue">
        <mat-header-cell *matHeaderCellDef> agilité </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.obtenue}} </mat-cell>
      </ng-container>

    <!-- date -->
    <ng-container matColumnDef="date">
      <mat-header-cell *matHeaderCellDef> agilité </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.date}} </mat-cell>
    </ng-container>

    

    

    <!-- Header and Row Declarations -->
    <mat-header-row *matHeaderRowDef="['id', 'lv', 'nom','arcane','physique','fusil','feu','glace','electrique','vent','psychique','nucleaire','divin','malediction','obtenue','date']"></mat-header-row>
    <mat-row *matRowDef="let row; columns: ['id', 'lv', 'nom','arcane','physique','fusil','feu','glace','electrique','vent','psychique','nucleaire','divin','malediction','obtenue','date']"></mat-row>
  </mat-table>